/*------------
    Reset
-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------
    Typo
-------------*/
body {
    font-family: 'Montserrat', sans-serif;
    color: #8A8A8A;
}
h2, h3 {
    color: #000;
}

h2 {
    font-size: 30px;
}
h3 {
    margin: 16px 0;
}

/*------------
    Commons
-------------*/
.container {
    max-width: 1280px;
    margin: auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*------------
    Debug
-------------*/
.debug header {
    background-color: magenta;
    min-height: 150px;
}

.debug .hero {
    background-color: #e1d67a;
    min-height: 500px;
}

.debug .leadership {
    background-color: #0086ff;
}
.debug .leadership-title {
    background-color: lightblue;
    min-height: 100px;
}

.debug .col {
    background-color: lightblue;
    min-height: 300px;
}

.debug footer {
    background-color: purple;
    min-height: 60px;
}

/*------------
    Header
-------------*/
header {
    margin-bottom: 20px;
}

.logo img {
    height: 80px;
    padding-right: 20px;
    border-right: 1px solid #e5e5e5;
}

.main-nav {
    padding: 25px 0;
    font-size: 18px;
}
.main-nav li {
    display: inline-block;
    margin-right: 15px;
}
.main-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

/*------------
    Main
-------------*/
.hero {
    margin-bottom: 40px;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    overflow: hidden;
}
.hero-content {
    background-color: rgba(0,0,0,0.3);
    padding: 400px 50px 50px 50px;
    color: #fff;
}

.hero-content > * {
    max-width: 700px;
}

.columns {
    margin: 40px 0 20px;
}

/* .col-left, .col-middle, .col-right {
    float: left;
}

.col-left, .col-right {
    width: 20%;
}

.col-middle {
    width: calc(60% - 40px);
    margin: auto 20px;
} */

.col {
    float: left;
    width: 20%;
}

.col-big {
    width: calc(60% - 40px);
    margin: auto 20px;
}

.post-img {
    background-color: #000;
    border-radius: 20px;
    overflow: hidden;
}
.post-img img {
    width: 100%;
    height: 220px;
    opacity: 0.8;
    display: block;
    object-fit: cover;
}

/*------------
    Footer
-------------*/

footer {
    text-align: center;
    color: #000;
    padding: 15px 0;
}

.heart {
    color: red;
}